@charset "UTF-8";
html {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

body {
  margin: 0px;
}

.bg--grey {
  background-color: #f2f2f2;
}
.bg--white {
  background-color: white;
}
.bg--dark {
  background-color: #212121;
  color: white;
}

header {
  padding: 10px;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 99999;
}

#localisation {
  text-align: center;
}

button {
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  padding: 8px 30px 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  box-shadow: 0px 5px 10px -2px #212121;
}

section {
  padding: 20px;
}

footer {
  padding: 20px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  margin: 0px;
}
footer ul {
  padding: 0;
  margin: 10px, 0, 10px, 0;
}
footer li {
  margin-top: 10px;
}

.fonction {
  background-color: #f2f2f2;
  display: flex;
  margin: 20px;
  border-radius: 15px;
}
.fonction__icon {
  margin: 19px 35px 0px 30px;
}
.fonction:hover {
  background-color: #9356DC40;
}
.fonction:hover > i {
  color: #9356DC;
}
.fonction:active {
  background-color: #9356DC40;
}
.fonction:active > i {
  color: #9356DC;
}

.zone {
  margin-top: 58px;
  display: flex;
  justify-content: center;
  border-top: 3px solid #b3b3b3;
  background-color: #dfdfdf;
}
.zone i {
  margin: 19px 15px 0px 0px;
}

.restaurant {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  height: 200px;
  margin: 10px;
}
.restaurant__img {
  width: 100%;
}
.restaurant__caption {
  background-color: white;
}

#menu {
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -45px;
  position: relative;
}
#menu h2 {
  text-align: left;
  font-family: "Shrikhand", cursive;
  margin-top: -5px;
}
#menu h3 {
  text-align: left;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  margin-top: 35px;
}
#menu h3::after {
  height: 3px !important;
  width: 30px;
  background-color: #99E2D0;
  content: "";
  display: block;
  margin-top: 4px;
}
#menu .item {
  text-align: left;
  background-color: white;
  border-radius: 15px;
  padding: 11px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
#menu .item__name {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
}
#menu .item__ing {
  margin: 0;
  font-weight: 300;
}
#menu .item__price {
  margin: 0;
  align-self: end;
  margin-top: -16px;
  font-size: 13px;
}
#menu button {
  margin-bottom: 50px;
  margin-top: 30px;
}

.banner {
  margin-top: 55px;
  height: 250px;
}
.banner img {
  width: 100%;
}

@media (min-width: 900px) {
  #menu {
    width: 50%;
    margin: auto;
  }
}
.fa-arrow-left::before {
  content: "";
  left: 15px;
  position: absolute;
  top: 18px;
  font-size: 22px;
}

header img {
  margin-left: -15px;
}

.client-name {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  align-items: baseline;
  height: 20px;
}

.fa-heart::before {
  content: "";
}

/*# sourceMappingURL=Style.css.map */
