$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: #eee;
$dark: #212121;

@mixin regular-text($colour: $colour-primary){
font-size: 15px;
font-weight:500;
color: $colour;
}

html{
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

body{
  margin: 0px;
}

.bg{
  &--grey{
    background-color: $grey;
    }
  &--white{
    background-color: white;
  }
  &--dark{
    background-color: $dark;
    color: white;
  }
}


///////////// Fin code général /////////////

header{
  padding: 10px;
  position: fixed;
  width:100%;
  text-align: center;
  top: 0;
}


#localisation{
  margin-top: 58px;
  text-align: center;
    // h3{@include heading-shadow($dark);}
}

button{
  border-radius: 20px;
  background: linear-gradient($secondary,$primary);
  border: none;
  padding: 8px 25px 10px 25px;
  @include regular-text(white);
  box-shadow: 0px 5px 10px -2px $dark;
}

section{
  padding: 20px;
}

footer{
  padding: 20px;
  h3{font-family: 'Shrikhand', cursive;
  margin: 0px}
  ul{padding: 0; margin: 10px,0,10px,0;}
  li{margin-top: 10px}
}
