$primary: #9356DC;
$primary-op: #9356DCB0;
$primary-op2: #9356DC26;
$secondary: #FF79DA;
$secondary-op: #FF79DAB0;
$tertiary: #99E2D0;
$grey: #f2f2f2;
$dark-op: #212121b0;
$dark: #212121;


@keyframes bouncing {

	0% {
		transform: translate3d(0, 20px, 0) scale(1.4, 0.65);
	}

	100% {
		transform: translate3d(0, -30px, 0) scale(0.8, 1.2);
	}
}

@keyframes disapear {

	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
            z-index: -1;
	}
}

@keyframes menu-item{
    0% {
        transform: translatey(25px);
        opacity: 0
    }
    100% {
        transform: translatey(0);
        opacity: 1
    }
}


@mixin regular-text($colour: $colour-primary){
font-size: 15px;
font-weight:500;
color: $colour;
}

html{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  max-width: 1550px;
margin: auto;
}

a{
  text-decoration: none;
    color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

li{
    list-style: none;
}

body{
  margin: 0px;
}

.bg{
  &--grey{
    background-color: $grey;
    }
  &--white{
    background-color: white;
  }
  &--dark{
    background-color: $dark;
    color: white;
  }
}


///////////// Fin code général /////////////

header{
  padding: 10px;
  position: fixed;
  width:100%;
  text-align: center;
  top: 0;
  z-index: 99999;
}


#localisation{
  text-align: center;
    // h3{@include heading-shadow($dark);}
}

button{
  border-radius: 20px;
  background: linear-gradient($secondary,$primary);
  border: none;
  padding: 8px 30px 10px 30px;
  @include regular-text(white);
  box-shadow: 0px 5px 10px -2px $dark;
  transition: all 0.3s!important;
}

button:hover{
  border-radius: 20px;
  background: linear-gradient($secondary-op,$primary-op);
  border: none;
  padding: 8px 30px 10px 30px;
  @include regular-text(white);
  box-shadow: 0px 10px 20px -2px $dark;
  transition: all 0.3s!important;
}



section{
  padding: 20px;
}

footer{
  padding: 20px;
  h3{font-family: 'Shrikhand', cursive;
  margin: 0px}
  ul{padding: 0; margin: 10px,0,10px,0;}
  li{margin-top: 10px}
  a{color: white;}
  a:visited{color: white;}
  i{margin-right: 10px; width: 15px;}
}

.fonction{
    background-color: $grey;
    display: flex;
    margin: 20px;
    border-radius: 15px;
      transition: all 0.5s!important;

  &__text{}
  &__icon{margin: 19px 25px 0px 20px;}
  &__number{position: relative; top: 16px; left: -10px; background-color: $primary; color: white; height: 16px; padding: 2px;  padding-left: 7px;  padding-right: 7px; border-radius: 20px; font-size: 13px;}
  &:hover{background-color: $primary-op2; transition: all 0.5s!important;}
  &:hover > i {color: $primary;   transition: all 0.5s!important;}
  i {transition: all 0.5s!important; }
  &:active{background-color: $primary-op;   transition: all 0.5s!important;}
  &:active > i {color: $primary;   transition: all 0.5s!important;}
}

.zone{
    margin-top: 58px;
    display: flex;
    justify-content: center;
    border-top: 3px solid #b3b3b3;
    background-color: #dfdfdf;
      i{margin:  19px 15px 0px 0px;}
}

.restaurant{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    height: 237px;
    margin: 10px;
    position: relative;
    width: 315px; height: 237px
  &__img{width: 100%;    border-radius: 10px;}
  &__caption{background-color: white;position: absolute;width: 100%;top: 170px;padding-bottom:10px; h4{margin: 10px}p{margin: 10px;}i{position: absolute;top: 15px;
right: 20px;
font-size: 20px;}}
}

 #menu{
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius:30px;
  margin-top: -45px;
  position: relative;
  h2{text-align: left; font-family: 'Shrikhand', cursive; margin-top: -5px;}
  h3{text-align: left; text-transform: uppercase; font-size: 15px; font-weight: 400; margin-top: 35px;  &::after{height: 3px !important;
width: 30px;
background-color:$tertiary;
content: "";
display: block;
margin-top: 4px;}}
  .item{opacity: 0; animation-fill-mode: forwards!important; ;text-align: left; overflow: hidden;background-color: white;  border-radius: 15px; padding: 11px;margin: 15px;display: flex;flex-direction: column; animation: menu-item 800ms;
  &__name{margin: 0; font-size: 16px; font-weight: 500; margin-bottom: 3px ; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
  &__ing{margin: 0; font-weight: 300;font-size: 13px; ; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;     transition: all 0.5s!important;}
  &__price{margin: 0; align-self: end; margin-top: -16px; font-size: 13px; background: white}}
  button{margin-bottom: 50px;margin-top: 30px;}
}

.banner{
  margin-top: 55px;
  height: 250px;
  img{ width: 100%;}
}
  #wrap-desktop{display: flex; flex-wrap: wrap;justify-content: center;}

.fa-arrow-left::before {
  left: 15px;
  position: absolute;
  top: 18px;
  font-size: 22px;
}

header img{margin-left: -15px;}

.client-name {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    align-items: baseline;
    height: 20px;
}

.fa-heart::before {
    content: "\f004";
}

.restaurant__img {
  height: 100%;}

    .restaurant{width: 315px; height: 237px}

@media (min-width: 950px) {

  html{
    background: $grey
  }

  #wrap-desktop{display: flex; flex-wrap: wrap;justify-content: center;}
  .restaurant{width: 315px; height: 237px}


  body{background: $grey}

  .restaurant__img {
    height: 100%;}

  #menu{
    width: 50%;
    margin: auto;
  }
header{ box-shadow: 0px 5px 10px -2px $dark-op;}
  .banner{height: 180px; overflow: hidden; margin-bottom: 20px; }
    header{left: 0;}
.fonction{width: 300px !important;}
      #wrap-fonction{display: flex; justify-content: center;}
      h2{text-align: center;}
}

.item--1 {
    animation-delay: 500ms!important;
}
.item--2 {
    animation-delay: 600ms!important;
}
.item--3 {
    animation-delay: 700ms!important;
}
.item--4{
    animation-delay: 800ms!important;
}
.item--5 {
    animation-delay: 900ms!important;
}

.item--6 {
    animation-delay: 1000ms!important;
}
.item--7 {
    animation-delay: 1100ms!important;
}
.item--8 {
    animation-delay: 1200ms!important;
}
.item--9{
    animation-delay: 1300ms!important;
}
.item--10 {
    animation-delay: 1400ms!important;
}

.validation{
  background-color: $tertiary;
  transform: translateX(70px);
  transform-origin: right;
  width: 60px;
  height: 60px;
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  color: white;
  font-size: 25px;
  transition: all ease-in-out 0.5s!important;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  margin-left: 30px;
}

.item:hover>.validation{
  transform: translateX(0);
  background-color: $tertiary;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 25px;
  transition: all  0.5s!important;
}

.item:hover{
  padding-right: 65px!important;
  transition: all  0.5s;
}

.item{
  transition: all ease-in-out 0.5s;
}
 .item:hover > .validation > .fa-check-circle{
  transform: rotate(0deg);
    transition: all 0.65s;
}

.fa-check-circle{
transform: rotate(-360deg);
    display: inline-block;

}

.fa-heart:hover{
  transition: all 0.3s;
  color: $secondary;
}

.fa-heart{
  transition: all 0.3s;
}

@media (max-width: 750px) {

  .item:hover>.item__ing{
    width: 200px;
    transition: all 0.5s!important;
  }
}


.Loader{
	width: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  top: 50%;
left: 50%;
position: fixed;
margin-top: -10px;
margin-left: -40px;
	&__item {
		$anim-drt: 0.3s;
		$anim-ease: cubic-bezier(.6,.05,.15,.95);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: $tertiary;

		&:nth-child(1) {
			animation: bouncing $anim-drt alternate infinite $anim-ease;
		}

		&:nth-child(2) {
			animation: bouncing $anim-drt $anim-drt/4 alternate infinite $anim-ease backwards;
		}

		&:nth-child(3) {
			animation: bouncing $anim-drt $anim-drt/2 alternate infinite $anim-ease backwards;
		}
	}
}

.Loading-screen{
  width: 100%;
  background-color: white;
  height: 100%;
  position: fixed;
  z-index: 1;
  animation: disapear 0.3s  forwards 0.1s;
  animation-delay: 1.5s;
}
